header {
  background-color: white;
  display: inline-flex;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  height: 70px;
  z-index: 3;
}

#logo {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  width: 300px;
}

#nav2 {
  display: inline-flex;
  justify-content: space-between;
  width: 300px;
}

.name {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding-left: 8px;
}

.navlink {
  padding-right: 8px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.main {
  position: relative;
  top: 70px;
  height: 200px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#phish {
  background-image: url("../images/phish.png");
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

h1.phototitle {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#fall {
  position: relative;
  background-image: url("../images/fall_foliage.png");
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#camera {
  background-image: url("../images/camera.png");
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.articletitle {
  width: 300px;
}

.articletext {
  width: 100%;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.article2text {
  width: 300px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}






.column.medium {
  background-color: red;
  width: 300px;
}

.column.small {
  background-color: orange;
  width: 240px;
}



div.footer {
  position: relative;
  height: 100px;
  top: 2000px;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footlinks {
  height: 20px;
}

.copyr {
    height: 20px;
}

#footname {
  padding-right: 25px;
  margin-bottom: 5px;
  border-right: 2px solid white;
  color: white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
}

.footlink {
  padding-right: 25px;
  padding-left: 25px;
}

.footlink a {
  color: black;
}

#copyright {
  margin-top: 5px;
  margin-bottom: 0;
}
